@using WebsiteBanVe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font awesome - icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <!-- Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-form" style="padding-top: 80px">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h2>Login</h2>
            <p>Please fill in this form to login!</p>
            <hr>
            <div class="form-group">
                <div class="input-group" style="width: 100%">
                    <span style="width: 20%" class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                    <input style="margin:0; width: 80%" id="Email" type="email" class="form-control" name="Email" placeholder="Email Address" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" style="width: 100%">
                    <span style="width: 20%" class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input style="margin:0; width: 80%" id="Password" type="password" class="form-control" name="Password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg" value="Login">Login</button>
            </div>
            <div class="text-center">Don't have an account? @Html.ActionLink("Sign Up", "Register")</div>
        }
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}