@model IEnumerable<WebsiteBanVe.Models.Phim>

@foreach (var item in Model)
{
    <div class="movie-beta__item ">
        <img style="width: 185px; height: 292px" src="@item.hinhanh">
        <span class="best-rate">5.0</span>

        <ul class="movie-beta__info">
            <li><span class="best-voted">52 people voted today</span></li>
            <li>
                <p class="movie__time">@item.thoi_luong</p>
                <p>Adventure | Drama | Fantasy </p>
                <p>38 comments</p>
            </li>
            <li class="last-block">
                <a href="@Url.Action("MoviePage", "Home", new { id = item.id_phim })" class="slide__link">more</a>
            </li>
        </ul>
    </div>
}
