<!doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img style="height: 650px; width: 100%; object-fit: cover" src="~/Content/images/Banner/wallpaperflare.com_wallpaper.jpg" alt="Image">
            </div>

            <div class="item">
                <img style="height: 650px; width: 100%; object-fit: cover " src="~/Content/images/Banner/Starwar.jpg" alt="Image">
            </div>

            <div class="item">
                <img style="height: 650px; width: 100%; object-fit: cover" src="~/Content/images/Banner/the_dark_knight_rises_banner.jpg" alt="Image">
            </div>

            <div class="item">
                <img style="height: 650px; width: 100%; object-fit: cover" src="~/Content/images/Banner/thecroods.jpg" alt="Image">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</body>
</html>