
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
   
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="background: rgba(46, 41, 46, 1);">
                <li style="text-align: center; background-color: transparent;">@Html.ActionLink("Sign Up", "Register", "Account")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li style="text-align: center; background-color: transparent;"><a href="~/Admin/Home/AdminPage">Trang Admin</a></li>
                }
                <li style="text-align: center; background-color: transparent;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }

}
else
{
    <a href="#">Account</a>
    <ul>
        <li class="menu__nav-item"> @Html.ActionLink("Sign Up", "Register", "Account")</li>
    </ul>

}